.gpt3__cta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: var(--gradient-bar);
  padding: 2rem;
  margin: 4rem;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;

  &-content {
    display: flex;
    flex-direction: column;

    text-align: left;

    p {
      font-family: var(--font-family);
      font-size: 12px;
      line-height: 30px;
      font-weight: 500;
      color: #0e0e0e;
    }

    h3 {
      font-family: var(--font-family);
      font-size: 24px;
      line-height: 45px;
      font-weight: 800;
      color: #000000;
    }
  }

  &-btn {
    button {
      background: #000;
      color: #fff;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      padding: 0.5rem 1rem;
      border-radius: 2rem;

      border: none;
      outline: none;
      cursor: pointer;
      min-width: 150px;
    }
  }
}

.gpt3__cta .gpt3__cta-content .gpt3__cta-content .gpt3__cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

@media screen and (max-width: 650px) {
  .gpt3__cta {
    flex-direction: column;

    &-btn {
      margin: 2rem 0 0;
    }
  }
}

@media screen and (max-width: 550px) {
  .gpt3__cta {
    flex-direction: column;
    margin: 4rem 2rem;

    &-content {
      h3 {
        font-size: 18px;
        line-height: 32px;
      }
    }

    &-btn button {
      font-size: 14px;
      line-height: 28px;
    }
  }
}
